{% extends 'base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Проверьте вашу почту</h2>
    <div class="card shadow-lg border-0 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h5 class="text-center row mb-3">Если такой email существует в системе, мы отправили письмо с инструкцией по сбросу пароля.</h5>
                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary"> <i class="bi bi-arrow-left"></i> Назад </a>
                </div>
        </div>
    </div>
{% endblock %}


