body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 3px solid #007bff;
}

footer p {
    font-size: 14px;
}

body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.info-size {
    font-size: 50px;
    color: blue
}


.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #0d6efd;
    color: #fff;
}

/*Аватар профиля*/
.profile-photo-container {
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.5);
}
