{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">О нас</h1>
    <div class="card shadow-lg border-0 p-4">
        <div class="card-body">
            {#                {% if info.description %}#}
            {#                    <p>{{ info.description }}</p>#}
            {#                {% else %}#}
            {#                    <p>Все гениальное просто...</p>#}
            {#                {% endif %}#}

            <h2 class="bi bi-box-seam" style="font-size: 40px; color: #198754"> FAKE DB </h2>
            <h3>1. Что такое FakeDB</h3>
            <p>Мощное и гибкое решение для генерации случайных данных в базах данных: PostgreSQL, MySQL, SQLite, Hive и других...
                Мы помогаем разработчикам, тестировщикам и аналитикам ускорить процессы тестирования, разработки и моделирования, предоставляя реалистичные данные для их нужд.</p>
            <h3>2. Проблема, которую мы решаем</h3>
            <p>Компании и разработчики часто сталкиваются с нехваткой качественных тестовых данных для разработки и тестирования своих приложений.
                Использование реальных данных может привести к проблемам с конфиденциальностью, а ручное создание тестовых данных - это долгий и затратный процесс.
                FakeDB решает эту проблему, предоставляя инструмент для автоматической генерации разнообразных данных, соответствующих реальным сценариям.</p>
            <h3>3. Ключевые особенности</h3>
            <li><strong>Реалистичные данные:</strong> Генерация данных, имитирующих реальные пользовательские записи.</li>
            <li><strong>Гибкая настройка:</strong> Возможность создания сложных зависимостей и правил генерации.</li>
            <li><strong>Интеграция:</strong> Легкое подключение к популярным базам данных.</li>
            <li><strong>Конфиденциальность:</strong> Анонимизация и шифрование данных для соблюдения нормативных требований (GDPR, HIPAA).</li>
            <li><strong>Веб-интерфейс:</strong> Удобный UI для быстрого управления процессом генерации.</li>
            <br>
            <h3>5. Бизнес-модель</h3>
            <p>FakeDB предлагает два уровня подписки:</p>
            <li><strong>Бесплатный тариф:</strong> Базовый функционал с ограниченным лимитом создания тестовых данных до 2.000.000 строк в сутки.</li>
            <li><strong>Pro-подписка:</strong> Не ограниченный лимит создания тестовых данных.</li>
            <br>
            <br>
            <hr>
            <h2 class="bi bi-emoji-smile-fill" style="font-size: 40px; color: #ffc107"> RANDOM JOKES </h2>
            <h3>1. Что такое RANDOM JOKES</h3>
            <p>Решение для генерации случайных шуток, анекдотов по запросу пользователя.
                Мы помогаем разработчикам, тестировщикам и аналитикам поднять себе настроение.</p>
            <h3>2. Ключевые особенности</h3>
            <p>Удобный пользовательский интерфейс с возможностью генерации новой шутки или анекдота.</p>
            <br>
            <br>
            <hr>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left"></i> Назад</a>
        </div>
    </div>
{% endblock %}
