{% extends 'base.html' %}

{% block title %}Схемы базы данных{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Схемы базы данной</h2>
    <div class="card shadow-lg border-0 mx-auto" style="max-width: 800px;">
        <div class="card-body text-top">
            <h5><strong>Проект:</strong> {{ project.db_project }}</h5>
            <h5><strong>База данных:</strong> {{ project.db_name }}</h5>
            <hr>

            {% if error_message %}
                <div class="alert alert-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ error_message }}
                </div>
            {% else %}
                <h5>Доступные схемы:</h5>
                <ul class="list-group">
                    {% for schema in schemas %}
                        <li class="list-group-item">
                            <i class="bi bi-folder"></i>
                            <a href="{% url 'schema_tables' project.pk schema %}" class="text-decoration-none">
                                {{ schema }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'connect_to_database' project.pk %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Назад
                </a>
                <a href="{% url 'create_schema' project.pk %}" class="btn btn-success">
                    <i class="bi bi-plus-lg"></i> Создать схему
                </a>
            </div>
        </div>
    </div>
{% endblock %}
