{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        <div class="row mt-4">
            <div class="col-md-6 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h2 class="bi bi-box-seam" style="font-size: 40px; color: #198754"> FAKE DB </h2>
                        <p class="card-text">Генерация случайных данных в базе данных</p>
                        <a href="{% url 'create_project' %}" class="btn btn-success"> <i class="bi bi-plus-lg"></i> Создать проект </a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'my_projects' %}" class="btn btn-success">
                                <i class="bi bi-list-ul"></i> Мои проекты
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h2 class="bi bi-emoji-smile-fill" style="font-size: 40px; color: #ffc107"> RANDOM JOKES </h2>
                        <p class="card-text">Генерация случайных шуток и анекдотов</p>
                        <a href="{% url 'random_joke' %}" class="btn btn-warning">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body text-center">
                        <h2 class="bi bi-file-earmark-bar-graph" style="font-size: 40px; color: #7f2aaa"> FAKE CSV </h2>
                        <p class="card-text">Генерация случайных данных в CSV файле</p>
                        <a href="{% url 'generate_csv' %}" class="btn" style="background-color: #7f2aaa; color: white; border: none;"><i class="bi bi-plus-lg"></i>
                            Создать файл
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h2 class="bi bi-file-text-fill" style="font-size: 40px; color: #8B4513;"> REC TEXT </h2>
                        <p class="card-text">Распознавание текста</p>
                        <a href="#" class="btn" style="background-color: #8B4513; color: white; border: none;">Подробней </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
