{% extends 'base.html' %}

{% block title %}Данные таблицы {{ table_name }}{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Данные таблицы: {{ table_name }}</h2>

    <div class="card shadow-lg border-0 mx-auto" style="max-width: 1600px;">
        <div class="card-body text-top">
            <h5><strong>Проект:</strong> {{ project.db_project }}</h5>
            <h5><strong>База данных:</strong> {{ project.db_name }}</h5>
            <h5><strong>Схема:</strong> {{ schema_name }}</h5>
            <h5><strong>Таблица:</strong> {{ table_name }}</h5>
            <h5><strong>Количество записей в таблице:</strong> {{ record_count }} шт.</h5>
            <h5><strong>Количество записей на странице:</strong> {{ records_on_page }} шт.</h5>
            <hr>

            <div class="table-responsive">
                <table class="table table-striped text-start">
                    <thead class="table-dark">
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in page_obj %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Пагинация -->
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; Первая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="{% url 'generate_fake_data' project.pk schema_name table_name %}" class="btn btn-secondary mt-3"> <i class="bi bi-arrow-left"></i> Назад </a>
            </div>
        </div>
    </div>
{% endblock %}
